<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Главная страница</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-rim-auto-match" content="none">
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
  <link rel="stylesheet" href="css/fonts.min.css">
  <link rel="stylesheet" href="css/main.min.css">
</head>

<body>

  <div class="wrap">
    <section class="slider">
      <div class="slider_picture" style="background-image: url('img/picture/bg_n.jpg');"></div>
      <header class="header">
        <div class="wrap_inner">
          <div class="logo logo--mobile">
            <a href="/">
              <img src="img/logo.svg" alt="Витамины">
            </a>
          </div>
          <div class="gumburger">
            <a class="trigger-overlay gumburger__link McButton" href="" data="hamburger-menu">
                <b></b>
                <b></b>
                <b></b>
            </a>
          </div>
          <div class="enter enter--mobile">
              <a href="#modal-login" class="enter_link link-popup">вход</a>
              <a href="#modal-reg" class="enter_link link-popup">регистрация</a>
          </div>
          <div class="slogan slogan--mobile">
              <a href="tel:84955405186" class="header_phone">
                  8 495 540 <i class="icon-dot"></i> 51 <i class="icon-dot"></i> 86
              </a>
              <div class="slogan_text">
                  Фрукты, овощи, сухофрукты со вкусом <br>— такие, какими они и должны быть
              </div>
          </div>
          <nav class="header_menu menu">
            <li class="menu_item">
                <a href="" class="menu_link">доставка</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link menu_link--active">оплата</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link">заказ</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link">возврат</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link">карта сезонности</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link">магазины</a>
            </li>
          </nav>
        </div>
      </header>
      <div class="sub-menu">
        <div class="wrap_inner">
          <div class="header_wrap">
            <div class="header_logo">
              <a href="/">
                <img src="img/icons/Vitamins_Logo.svg" alt="Витамины">
              </a>
            </div>
            <div class="header_enter enter">
                <a href="#modal-login" class="enter_link link-popup">вход</a>
                <a href="#modal-reg" class="enter_link link-popup">регистрация</a>
            </div>
            <div class="header_slogan slogan">
                <a href="tel:84955405186" class="header_phone">
                    8 <i class="icon-dot"></i> 495 <i class="icon-dot"></i> 540 <i class="icon-dot"></i> 51 <i class="icon-dot"></i> 86
                </a>
                <div class="slogan_text">
                    Фрукты, овощи, сухофрукты со вкусом <br>— такие, какими они и должны быть
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__grid">
        <div class="slider__item">
          <span class="slider__icon">
            <img src="img/icons/Icon_Taste.svg" alt="">
          </span>
          <span class="slider__item-title">Вкус</span>
          <span class="slider__item-text">
            Только лучшие фрукты и насщенный вкус
          </span>
        </div>
        <div class="slider__item">
          <span class="slider__icon">
            <img src="img/icons/Icon_Selection.svg" alt="">
          </span>
          <span class="slider__item-title">Отбор</span>
          <span class="slider__item-text">
            Идеальные отборные плоды
          </span>
        </div>
        <div class="slider__item">
          <span class="slider__icon">
            <img src="img/icons/Icon_Package.svg" alt="">
          </span>
          <span class="slider__item-title">Эстетика</span>
          <span class="slider__item-text">
            Красивая и удобная упаковка
          </span>
        </div>
      </div>
      <div class="panel-bottom">
        <div class="wrap_inner">
          <nav class="header_menu menu">
            <li class="menu_item">
                <a href="" class="menu_link menu_link--button-panel menu_link--button-panel--active">фрукты</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link menu_link--button-panel">овощи</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link menu_link--button-panel">сухофрукты</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link menu_link--button-panel">специи</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link menu_link--button-panel">сеты</a>
            </li>
          </nav>
        </div>
      </div>
    </section>
    <main class="content">
      <section class="catalog">
        <div class="wrap_inner">
          <div class="catalog__row">
            <h2 class="section-title">Фрукты</h2>
            <div class="catalog__grid">
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                  <div class="item_label label label-2"></div>
                  <figure class="item_picture">
                    <img src="img/picture/product1.jpg" alt="">
                  </figure>
                  <div class="item_body">
                    <h3 class="item_title">Сочные апельсины</h3>
                    <p class="item_content">
                      С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                    </p>
                  </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                    <div class="item_label label label-1"></div>
                    <figure class="item_picture">
                        <img src="img/picture/product2.jpg" alt="">
                    </figure>
                    <div class="item_body">
                        <h3 class="item_title">Виноград «Изабелла»</h3>
                        <p class="item_content">
                            С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                        </p>
                    </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span>
                                <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                  <div class="item_label label label-3"></div>
                  <figure class="item_picture">
                      <img src="img/picture/product3.jpg" alt="">
                  </figure>
                  <div class="item_body">
                      <h3 class="item_title">Вкусные гранаты</h3>
                      <p class="item_content">
                          С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                      </p>
                  </div>
                </a>
                <div class="item_order">
                  <div class="price-num">
                    <div class="number">
                      <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                      <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                      <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                    </div>
                    <span class="item_total">3кг</span>
                    <span class="item_price">352 P</span>
                  </div>
                  <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                  <div class="item_label label label-4"></div>
                  <figure class="item_picture">
                    <img src="img/picture/product1.jpg" alt="">
                  </figure>
                  <div class="item_body">
                    <h3 class="item_title">Сочные апельсины</h3>
                    <p class="item_content">
                      С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                    </p>
                  </div>
                </a>
                <div class="item_order">
                  <div class="price-num">
                    <div class="number">
                      <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                      <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                      <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                    </div>
                    <span class="item_total">3кг</span>
                    <span class="item_price">352 P</span>
                  </div>
                  <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                  <a href="product.html" class="carousel_link">
                      <figure class="item_picture">
                          <img src="img/picture/product2.jpg" alt="">
                      </figure>
                      <div class="item_body">
                          <h3 class="item_title">Виноград «Изабелла»</h3>
                          <p class="item_content">
                              С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                          </p>
                      </div>
                  </a>
                  <div class="item_order">
                      <div class="price-num">
                          <div class="number">
                              <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                              <span>
                                  <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                              <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                          </div>
                          <span class="item_total">3кг</span>
                          <span class="item_price">352 P</span>
                      </div>
                      <a href="" class="item_link item_link--order">оформить</a>
                  </div>
              </div>
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                    <div class="item_label label label-1"></div>
                    <figure class="item_picture">
                        <img src="img/picture/product2.jpg" alt="">
                    </figure>
                    <div class="item_body">
                        <h3 class="item_title">Виноград «Изабелла»</h3>
                        <p class="item_content">
                            С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                        </p>
                    </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span>
                                <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
            </div>
            <button class="catalog__btn">посмотреть еще</button>
          </div>
          <div class="catalog__row">
            <h2 class="section-title">Овощи</h2>
            <div class="catalog__grid">
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                    <figure class="item_picture">
                        <img src="img/picture/product1.jpg" alt="">
                    </figure>
                    <div class="item_body">
                        <h3 class="item_title">Сочные апельсины</h3>
                        <p class="item_content">
                            С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                        </p>
                    </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                    <figure class="item_picture">
                        <img src="img/picture/product2.jpg" alt="">
                    </figure>
                    <div class="item_body">
                        <h3 class="item_title">Виноград «Изабелла»</h3>
                        <p class="item_content">
                            С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                        </p>
                    </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span>
                                <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                  <a href="product.html" class="carousel_link">
                      <figure class="item_picture">
                          <img src="img/picture/product3.jpg" alt="">
                      </figure>
                      <div class="item_body">
                          <h3 class="item_title">Вкусные гранаты</h3>
                          <p class="item_content">
                              С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                          </p>
                      </div>
                  </a>
                  <div class="item_order">
                      <div class="price-num">
                          <div class="number">
                              <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                              <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                              <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                          </div>
                          <span class="item_total">3кг</span>
                          <span class="item_price">352 P</span>
                      </div>
                      <a href="" class="item_link">заказать</a>
                  </div>
              </div>
              <div class="carousel_item item catalog__item">
                  <a href="product.html" class="carousel_link">
                      <figure class="item_picture">
                          <img src="img/picture/product1.jpg" alt="">
                      </figure>
                      <div class="item_body">
                          <h3 class="item_title">Сочные апельсины</h3>
                          <p class="item_content">
                              С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                          </p>
                      </div>
                  </a>
                  <div class="item_order">
                      <div class="price-num">
                          <div class="number">
                              <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                              <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                              <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                          </div>
                          <span class="item_total">3кг</span>
                          <span class="item_price">352 P</span>
                      </div>
                      <a href="" class="item_link">заказать</a>
                  </div>
              </div>
              <div class="carousel_item item catalog__item">
                  <a href="product.html" class="carousel_link">
                      <figure class="item_picture">
                          <img src="img/picture/product2.jpg" alt="">
                      </figure>
                      <div class="item_body">
                          <h3 class="item_title">Виноград «Изабелла»</h3>
                          <p class="item_content">
                              С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                          </p>
                      </div>
                  </a>
                  <div class="item_order">
                      <div class="price-num">
                          <div class="number">
                              <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                              <span>
                                  <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                              <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                          </div>
                          <span class="item_total">3кг</span>
                          <span class="item_price">352 P</span>
                      </div>
                      <a href="" class="item_link item_link--order">оформить</a>
                  </div>
              </div>
            </div>
            <button class="catalog__btn">посмотреть еще</button>
          </div>
          <div class="catalog__row">
            <h2 class="section-title">Сухофрукты</h2>
            <div class="catalog__grid">
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                    <figure class="item_picture">
                        <img src="img/picture/product1.jpg" alt="">
                    </figure>
                    <div class="item_body">
                        <h3 class="item_title">Сочные апельсины</h3>
                        <p class="item_content">
                            С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                        </p>
                    </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                    <figure class="item_picture">
                        <img src="img/picture/product2.jpg" alt="">
                    </figure>
                    <div class="item_body">
                        <h3 class="item_title">Виноград «Изабелла»</h3>
                        <p class="item_content">
                            С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                        </p>
                    </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span>
                                <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
              <div class="carousel_item item catalog__item">
                  <a href="product.html" class="carousel_link">
                      <figure class="item_picture">
                          <img src="img/picture/product3.jpg" alt="">
                      </figure>
                      <div class="item_body">
                          <h3 class="item_title">Вкусные гранаты</h3>
                          <p class="item_content">
                              С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                          </p>
                      </div>
                  </a>
                  <div class="item_order">
                      <div class="price-num">
                          <div class="number">
                              <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                              <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                              <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                          </div>
                          <span class="item_total">3кг</span>
                          <span class="item_price">352 P</span>
                      </div>
                      <a href="" class="item_link">заказать</a>
                  </div>
              </div>
              <div class="carousel_item item catalog__item">
                  <a href="product.html" class="carousel_link">
                      <figure class="item_picture">
                          <img src="img/picture/product1.jpg" alt="">
                      </figure>
                      <div class="item_body">
                          <h3 class="item_title">Сочные апельсины</h3>
                          <p class="item_content">
                              С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                          </p>
                      </div>
                  </a>
                  <div class="item_order">
                      <div class="price-num">
                          <div class="number">
                              <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                              <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                              <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                          </div>
                          <span class="item_total">3кг</span>
                          <span class="item_price">352 P</span>
                      </div>
                      <a href="" class="item_link">заказать</a>
                  </div>
              </div>
              <div class="carousel_item item catalog__item">
                  <a href="product.html" class="carousel_link">
                      <figure class="item_picture">
                          <img src="img/picture/product2.jpg" alt="">
                      </figure>
                      <div class="item_body">
                          <h3 class="item_title">Виноград «Изабелла»</h3>
                          <p class="item_content">
                              С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                          </p>
                      </div>
                  </a>
                  <div class="item_order">
                      <div class="price-num">
                          <div class="number">
                              <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                              <span>
                                  <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                              <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                          </div>
                          <span class="item_total">3кг</span>
                          <span class="item_price">352 P</span>
                      </div>
                      <a href="" class="item_link item_link--order">оформить</a>
                  </div>
              </div>
              <div class="carousel_item item catalog__item">
                <a href="product.html" class="carousel_link">
                    <div class="item_label label label-1"></div>
                    <figure class="item_picture">
                        <img src="img/picture/product2.jpg" alt="">
                    </figure>
                    <div class="item_body">
                        <h3 class="item_title">Виноград «Изабелла»</h3>
                        <p class="item_content">
                            С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                        </p>
                    </div>
                </a>
                <div class="item_order">
                    <div class="price-num">
                        <div class="number">
                            <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                            <span>
                                <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                            <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                        </div>
                        <span class="item_total">3кг</span>
                        <span class="item_price">352 P</span>
                    </div>
                    <a href="" class="item_link">заказать</a>
                </div>
              </div>
            </div>
            <button class="catalog__btn">посмотреть еще</button>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="wrap_inner">
          <div class="footer_info">
              <div class="footer_adress adress">
                  <ul class="adress_list">
                      <li class="adress_item">
                          <a href="tel:84955405186" class="adress_phone">
                              8 495 540 <i class="icon-dot"></i> 51 <i class="icon-dot"></i> 86
                          </a>
                          <span class="adress_time">Ежедневно с 9 до 21</span>
                      </li>
                      <li class="adress_item">
                          <a href="mailto:info@vitaminis.ru" class="adress_ link adress_email">info@vitaminis.ru</a>
                          <span class="adress_time">Круглосуточно</span>
                      </li>
                      <li class="adress_item">
                          <a href="" class="callback-link">обратная связь</a>
                      </li>
                  </ul>
              </div>
              <div class="footer_menu">
                  <ul class="footer_menu-list">
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">Магазины</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">Карта сезонности</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="order.html" class="footer_menu-link">Заказ</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">Оплата</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="delivery.html" class="footer_menu-link">Доставка</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="cashback.html" class="footer_menu-link">Возврат</a>
                      </li>
                  </ul>
                  <ul class="footer_menu-list">
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">о нас</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">блог</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">контакты</a>
                      </li>
                      <li class="footer_menu-item">
                          <ul class="footer_social social">
                              <li class="social_item"><a href="" class="social_link social_link--fb-gray"></a></li>
                              <li class="social_item"><a href="" class="social_link social_link--ins-gray"></a></li>
                              <li class="social_item"><a href="" class="social_link social_link--vk-gray"></a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="footer_widget">
                  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvitamins.ru%2F&tabs=timeline&width=233&height=170&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="233" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div>
          </div>
          <div class="footer_wrap">
              <div class="footer_copiright">
                  <span>© Общество с ограниченной ответственностью «ВИТАМИНЫ»</span>
                  <span>ИНН 7704303653 юр. адрес 121099, г. Москва, Прямой пер. 3 стр.1</span>
              </div>
              <div class="footer_studio">
                  <a href="http://bakin.ru/" target="_blank">
                      <span>Сайт вырастили</span><br>
                      <span>в студии Бакина</span>
                  </a>
              </div>
          </div>
      </div>
    </footer>

    <div class="hidden">
      <div id="modal-reg--order" class="modal mfp-hide mfp-fade">
          <button class="modal_close"></button>
          <h3 class="modal_title section-title">Ваш заказ оформлен!</h3>
          <div class="modal_content">
              <div class="rule_text text-page">
                  Ваш заказ оформлен и за него вам начислено <strong>50 баллов</strong>.Кажется, вы забыли авторизоваться, и чтобы не потерять баллы введите ваш e-mail и пароль.
              </div>
              <form class="form" action="" method="post">
                  <div class="form_group">
                      <label for="email">Ваш E-mail</label>
                      <input id="email" class="field" name="email" type="text" placeholder="jora@leto.ru">
                  </div>
                  <div class="form_group">
                      <label for="password">Пароль</label>
                      <input id="password" class="field" name="password" type="password">
                  </div>
                  <div class="form_button-group">
                      <button type="submit" class="registration_button btn">авторизация</button>
                      <a href="#modal-reg" class="form_link link-popup">Зарегистрироваться</a>
                  </div>
              </form>
          </div>
      </div>
      <div id="modal-login" class="modal mfp-hide mfp-fade">
          <button class="modal_close"></button>
          <h3 class="modal_title section-title">Авторизация</h3>
          <div class="modal_content">
              <form class="form" action="" method="post">
                  <div class="form_group">
                      <label for="email">Ваш E-mail</label>
                      <input id="email" class="field field_invalid" name="email" type="text" placeholder="jora@leto.ru">
                      <span class="error_message">*Сообщение об ошибке</span>
                  </div>
                  <div class="form_group">
                      <label for="password">Пароль</label>
                      <input id="password" class="field field_invalid" name="password" type="password" required>
                      <span class="error_message">*Сообщение об ошибке</span>
                  </div>
                  <div class="form_group">
                      <a href="recovery-pass.html" class="foget_link">Забыли пароль?</a>
                  </div>
                  <div class="form_button-group">
                      <button type="submit" class="registration_button btn btn--lg">авторизация</button>
                      <a href="#modal-reg" class="form_link link-popup">Зарегистрироваться</a>
                  </div>
              </form>
          </div>
      </div>
      <div id="modal-reg" class="modal mfp-hide mfp-fade">
          <button class="modal_close"></button>
          <h3 class="modal_title section-title">Регистрация</h3>
          <div class="modal_content">
              <form class="form form_reg" action="" method="post">
                  <div class="form_group">
                      <div class="field_label">
                          <label for="name">Имя</label>
                      </div>
                      <div class="field_input">
                          <input id="name" class="field field_invalid" name="name" type="text" placeholder="Квентин Тарантино">
                      </div>
                      <span class="error_message">*Сообщение об ошибке</span>
                  </div>
                  <div class="form_group">
                      <label for="phone">Телефон</label>
                      <input id="phone" class="field" name="phone" type="text" placeholder="+7 (495) 666-77-22">
                  </div>
                  <div class="form_group">
                      <label for="email">E-mail</label>
                      <input id="email" class="field field_invalid" name="email" type="text" placeholder="jora@leto.ru">
                      <span class="error_message">*Сообщение об ошибке</span>
                  </div>
                  <div class="form_group">
                      <label for="password">Пароль</label>
                      <input id="password" class="field" name="password" type="password">
                  </div>
                  <div class="form_group">
                      <label for="password">Подтверждение</label>
                      <input id="password" class="field" name="password" type="password">
                  </div>
                  <div class="form_button-group">
                      <button type="submit" class="registration_button btn btn--facebook">Войти через Facebook</button>
                      <button type="submit" class="registration_button btn btn--reg">регистрация</button>
                  </div>
              </form>
          </div>
      </div>
    </div>

    <div class="overlay overlay-slidedown">
      <nav class="mobile-navigation">
        <ul class="mobile-navigation__list">
          <li>
            <span class="mobile-navigation__title">
              Прилавок
            </span>
          </li>
          <li>
            <a href="#" >Фрукты</a>
          </li>
          <li>
            <a href="#" >Овощи</a>
          </li>
          <li>
            <a href="#">Сухофрукты</a>
          </li>
          <li>
            <a href="#">Специи</a>
          </li>
          <li>
            <a href="#">Сеты</a>
          </li>
        </ul>
        <ul class="mobile-navigation__list">
          <li>
            <span class="mobile-navigation__title">
              О сервисе
            </span>
          </li>
          <li>
            <a href="delivery.html" >Доставка</a>
          </li>
          <li>
            <a href="#" >Оплата</a>
          </li>
          <li>
            <a href="order.html">Заказ</a>
          </li>
          <li>
            <a href="cashback.html">Возврат</a>
          </li>
          <li>
            <a href="#">Карта сезонности</a>
          </li>
          <li>
            <a href="#">Магазины</a>
          </li>
        </ul>
        <ul class="mobile-navigation__list">
          <li>
            <span class="mobile-navigation__title">
              Кабинет
            </span>
          </li>
          <li>
            <a href="profile.html" >Профиль</a>
          </li>
          <li>
            <a href="#" >Пригласить друга</a>
          </li>
          <li>
            <a href="#">Ваши баллы</a>
          </li>
          <li>
            <a href="#">Ваши отзывы</a>
          </li>
          <li>
            <a href="history.html">История заказов</a>
          </li>
          <li>
            <a href="address.html">Адреса</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

  <!-- Load Scripts Start -->
  <script>var scr = {"scripts":[
    {"src" : "js/libs.js", "async" : false},
    {"src" : "js/common.js", "async" : false}
    ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
  </script>
    <!-- Load Scripts End -->

</body>
</html>
