<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>

    <meta charset="utf-8">

    <title>Продукт</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">

    <meta property="og:image" content="path/to/image.jpg">

    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="css/fonts.min.css">
    <link rel="stylesheet" href="css/main.min.css">


</head>

<body>

  <div class="wrap">
    <div class="wrap__content">
        <header class="header--inner">
          <div class="wrap_inner">
            <div class="logo logo--mobile">
              <a href="/">
                <img src="img/logo.svg" alt="Витамины">
              </a>
            </div>
            <div class="gumburger">
              <a class="trigger-overlay gumburger__link McButton" href="" data="hamburger-menu">
                  <b></b>
                  <b></b>
                  <b></b>
              </a>
            </div>
            <div class="enter enter--mobile">
                <a href="#modal-login" class="enter_link link-popup">вход</a>
                <a href="#modal-reg" class="enter_link link-popup">регистрация</a>
            </div>
            <div class="slogan slogan--mobile">
                <a href="tel:84954090584" class="header_phone">
                    8 &nbsp495 &nbsp409 <i class="icon-dot"></i> 05 <i class="icon-dot"></i> 84
                </a>
                <div class="slogan_text">
                  Доставляем радость. Приносим пользу.
                </div>
            </div>
          </div>
        </header>

        <main class="content">
            <section class="product">
                <div class="wrap_inner">
                    <div class="product_wrap">
                        <div class="slideshow">
                            <div class="product_picture slideshow__display">
                                <div class="product_label label label-1"></div>
                                <figure>
                                    <img src="img/picture/orange.jpg" alt="">
                                </figure>
                            </div>
                            <ul class="slideshow__list">
                              <li class="slideshow__item slideshow__item_active">
                                <a class="slideshow__pic" href="#">
                                <img src="img/picture/orange.jpg" alt="" />
                                </a>
                              </li>
                              <li class="slideshow__item ">
                                <a class="slideshow__pic" href="#">
                                  <img src="img/picture/grape.jpg" alt="" />
                                </a>
                              </li>
                              <li class="slideshow__item">
                                <a class="slideshow__pic" href="#">
                                  <img src="img/picture/sliva.jpg" alt="" />
                                </a>
                              </li>
                            </ul>
                        </div>
                        <div class="product_info">
                            <h1 class="product_title">Сочные апельсины</h1>
                            <div class="product_reviews">
                                <span>Оценка покупателей:</span>
                                <div class="product_rate rate">
                                    <div class="star star--full"></div>
                                    <div class="star star--full"></div>
                                    <div class="star star--full"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                </div>
                                <span class="product_proeties">(31)</span>
                            </div>
                            <div class="product_season">
                                <span>Сезон:</span>
                                <span>сентябрь – декабрь</span>
                            </div>
                            <div class="product_categories">
                                <span>Категория:</span>
                                <a href="">Груши </a>
                            </div>
                            <div class="product_country">
                                <span>Страна:</span>
                                <a href="">ЮАР</a>
                                <span class="product_proeties">(10 000 км от Москвы)</span>
                            </div>
                            <div class="product_description">
                                <p>
                                    С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                                </p>
                            </div>
                            <div class="product_order price-num">
                                <div class="number">
                                    <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                                    <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                                    <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                                </div>
                                <span class="product_price">352 P</span>
                            </div>
                            <a href="#modal-more2" class="btn link-popup btn--lg">оформить</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="taste">
                <div class="wrap_inner">
                    <h2 class="section-title">Арифметика вкуса</h2>
                    <div class="taste_fruit fruit">
                        <div class="fruit_grid">
                            <div class="fruit_list">
                                <div data-fruit="orange" class="fruit_item fruit_item--orange">
                                    <img src="img/picture/orange.png" alt="aпельсин">
                                </div>
                                <div data-fruit="wm" class="fruit_item fruit_item--wm">
                                    <img src="img/picture/wm.png" alt="арбуз">
                                </div>
                                <div data-fruit="kiwi" class="fruit_item fruit_item--kiwi">
                                    <img src="img/picture/kiwi.png" alt="киви">
                                </div>
                            </div>
                        </div>
                        <div class="fruit_text">
                            <div data-text="main" class="fruit_text-wrap">
                                <span>
                                    Стоимость наших продуктов складывается из трех компонентов:
                                </span>
                                <ul class="fruit_text-list">
                                    <li class="fruit_text-item fruit_text-item--orange">
                                        Закупочная цена
                                    </li>
                                    <li class="fruit_text-item fruit_text-item--wm">
                                        Упаковка
                                    </li>
                                    <li class="fruit_text-item fruit_text-item--kiwi">
                                        Добавочная ценность
                                    </li>
                                </ul>
                                <span>
                                    Чтобы узнать подробнее о каждом из них, наведите курсор на нужный сектор в левой части экрана.
                                </span>
                            </div>
                            <div data-text="orange" class="fruit_text-wrap fruit_text-wrap--addishional">
                                <h3 class="fruit_title">Закупочная цена</h3>
                                <p>
                                    Премиальные сорта — основа нашего ассортимента. Чтобы получать лучшие партии, мы не торгуемся, а выстраиваем экологичные отношения с проверенными поставщиками. И даже таких у нас по 2-3 на каждую позицию — если не нравится у одного, мы идём к другому, открываем каждую коробку и проверяем качество и внешний вид. В итоге — получаем лучший товар по лояльной цене.

                                </p>
                            </div>
                            <div data-text="kiwi" class="fruit_text-wrap fruit_text-wrap--addishional">
                                <h3 class="fruit_title">Добавочная ценность</h3>
                                <p>
                                    После закупки товар попадает в наш распределительный центр. Там фрукты и овощи выкладываются и, если надо, дозревают. Если мы видим, что товар потерял надлежащий внешний вид и свойства, мы его списываем. Доставка по Москве — недешевое удовольствие, но аренда магазина — существенно дороже. Поэтому по сопоставимым сортам мы дешевле любого розничного магазина или сети.

                                </p>
                            </div>
                            <div data-text="wm" class="fruit_text-wrap fruit_text-wrap--addishional">
                                <h3 class="fruit_title">Упаковка</h3>
                                <p>
                                   Иногда мы тратим на упаковку до 3% стоимости заказа. Это значит, что мы используем только самые качественные упаковочные материалы, заворачиваем в салфетки каждый помидор и каждый персик, тщательно контролируем сборку заказа.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="taste_rule rule">
                        <h2 class="section-title">Гарантия вкуса</h2>
                        <p class="rule_text text-page">
                            Если вы считаете, что мы привезли плохой товар, позвоните нам по телефону 8 (495) 540-51-86 и назовите номер заказа. Мы сделаем замену на эту сумму в следующем заказе или вернем вам деньги.
                        </p>
                        <div class="rule_list">
                            <div class="rule_brick">
                                <figure class="rule_picture shake-slow">
                                    <img src="img/icons/taste_01.svg" alt="">
                                </figure>
                                <span class="rule_title">Плохой товар</span>
                                <span class="rule_content">
                                    Расскажите, если вам достался испорченный или недозрелый товар.
                                </span>
                            </div>
                            <div class="rule_brick rule_brick--separator">
                                <figure class="rule_picture">
                                    <img src="img/icons/arrow.svg" alt="">
                                </figure>
                            </div>
                            <div class="rule_brick">
                                <figure class="rule_picture shake-slow">
                                    <img src="img/icons/taste_02.svg" alt="">
                                </figure>
                                <span class="rule_title rule_title--yellow">Звонок оператору</span>
                                <span class="rule_content">
                                    Оставьте заявку на замену товара или возврат денег по телефону.
                                </span>
                            </div>
                            <div class="rule_brick rule_brick--separator">
                                <figure class="rule_picture">
                                    <img src="img/icons/arrow.svg" alt="">
                                </figure>
                            </div>
                            <div class="rule_brick">
                                <figure class="rule_picture shake-slow">
                                    <img src="img/icons/taste_03.svg" alt="">
                                </figure>
                                <span class="rule_title rule_title--green-light">Новый товар</span>
                                <span class="rule_content">
                                    Получите новый товар или компенсацию в деньгах.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="taste_additional additional">
                        <h2 class="section-title">Дополните заказ фруктами на пике сезона</h2>
                        <p class="rule_text text-page">
                            Если вам требуются продукты, полностью готовые к употреблению, то мы их помоем и привезем в специальной упаковке. Дописываем текст про упаковку и взвешивание. И еще пара строк про доставку и всё такое. А далее чуть подробней.
                        </p>
                        <div class="taste_carousel carousel">
                            <div class="carousel_container">
                                <div class="carousel_wrapper">
                                    <div class="carousel_item item">
                                        <a href="" class="carousel_link">
                                            <div class="item_label label label-2"></div>
                                            <figure class="item_picture">
                                                <img src="img/picture/product1.jpg" alt="">
                                            </figure>
                                            <div class="item_body">
                                                <h3 class="item_title">Сочные апельсины</h3>
                                                <p class="item_content">
                                                    С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                                                </p>
                                            </div>
                                        </a>
                                        <div class="item_order">
                                            <div class="price-num">
                                                <div class="number">
                                                    <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                                                    <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                                                    <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                                                </div>
                                                <span class="item_total">3кг</span>
                                                <span class="item_price">352 P</span>
                                            </div>
                                            <a href="" class="item_link">заказать</a>
                                        </div>
                                    </div>
                                    <div class="carousel_item item">
                                        <a href="" class="carousel_link">
                                            <div class="item_label label label-2"></div>
                                            <figure class="item_picture">
                                                <img src="img/picture/product2.jpg" alt="">
                                            </figure>
                                            <div class="item_body">
                                                <h3 class="item_title">Виноград «Изабелла»</h3>
                                                <p class="item_content">
                                                    С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                                                </p>
                                            </div>
                                        </a>
                                        <div class="item_order">
                                            <div class="price-num">
                                                <div class="number">
                                                    <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                                                    <span>
                                                        <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                                                    <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                                                </div>
                                                <span class="item_total">3кг</span>
                                                <span class="item_price">352 P</span>
                                            </div>
                                            <a href="" class="item_link">заказать</a>
                                        </div>
                                    </div>
                                    <div class="carousel_item item">
                                        <a href="" class="carousel_link">
                                            <div class="item_label label label-2"></div>
                                            <figure class="item_picture">
                                                <img src="img/picture/product3.jpg" alt="">
                                            </figure>
                                            <div class="item_body">
                                                <h3 class="item_title">Вкусные гранаты</h3>
                                                <p class="item_content">
                                                    С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                                                </p>
                                            </div>
                                        </a>
                                        <div class="item_order">
                                            <div class="price-num">
                                                <div class="number">
                                                    <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                                                    <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                                                    <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                                                </div>
                                                <span class="item_total">3кг</span>
                                                <span class="item_price">352 P</span>
                                            </div>
                                            <a href="" class="item_link">заказать</a>
                                        </div>
                                    </div>
                                    <div class="carousel_item item">
                                        <a href="" class="carousel_link">
                                            <div class="item_label label label-2"></div>
                                            <figure class="item_picture">
                                                <img src="img/picture/product1.jpg" alt="">
                                            </figure>
                                            <div class="item_body">
                                                <h3 class="item_title">Сочные апельсины</h3>
                                                <p class="item_content">
                                                    С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                                                </p>
                                            </div>
                                        </a>
                                        <div class="item_order">
                                            <div class="price-num">
                                                <div class="number">
                                                    <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                                                    <span><span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                                                    <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                                                </div>
                                                <span class="item_total">3кг</span>
                                                <span class="item_price">352 P</span>
                                            </div>
                                            <a href="" class="item_link">заказать</a>
                                        </div>
                                    </div>
                                    <div class="carousel_item item">
                                        <a href="" class="carousel_link">
                                            <div class="item_label label label-2"></div>
                                            <figure class="item_picture">
                                                <img src="img/picture/product2.jpg" alt="">
                                            </figure>
                                            <div class="item_body">
                                                <h3 class="item_title">Виноград «Изабелла»</h3>
                                                <p class="item_content">
                                                    С тонкой шкуркой, ароматные, гармония кисло-сладкого вкуса, эталон для любителей этого вида.
                                                </p>
                                            </div>
                                        </a>
                                        <div class="item_order">
                                            <div class="price-num">
                                                <div class="number">
                                                    <i class="minus noselect" ng-click="recount_product(product, 'minus')"></i>
                                                    <span>
                                                        <span class="prodCount ng-binding" ng-bind="product.c*product.step">3</span>кг</span>
                                                    <i class="plus noselect" ng-click="recount_product(product, 'plus')"></i>
                                                </div>
                                                <span class="item_total">3кг</span>
                                                <span class="item_price">352 P</span>
                                            </div>
                                            <a href="" class="item_link">заказать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel_button-prev"></div>
                            <div class="carousel_button-next"></div>
                        </div>
                    </div>
                    <div class="taste_comments comments">
                        <h2 class="section-title section-title--big">Отзывы покупателей о позиции  «Сочный апельсин»</h2>
                        <div class="comments_list">
                            <div class="comments_brick">
                                <div class="comments_heading">
                                    <h4 class="comments_name">Петр Петипак</h4>
                                    <ul class="comments_social social">
                                        <li class="social_item"><a href="" class="social_link social_link--fb"></a></li>
                                        <li class="social_item"><a href="" class="social_link social_link--ins"></a></li>
                                        <li class="social_item"><a href="" class="social_link social_link--vk"></a></li>
                                    </ul>
                                </div>
                                <div class="comments_content">
                                    <p>
                                        Эта груша просто божественна. Причем именно в октябре! В августе она не была еще такой сочной. Рекомендую заказывать её именно в октябре! А летом можно брать «Конференц».
                                    </p>
                                </div>
                                <div class="comments_info">
                                    <span class="comments_date">18.11.2016</span>
                                    <div class="comments_rate rate">
                                        <div class="star star--full"></div>
                                        <div class="star star--full"></div>
                                        <div class="star star--full"></div>
                                        <div class="star star--full"></div>
                                        <div class="star star--full"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="comments_brick">
                                <div class="comments_heading">
                                    <h4 class="comments_name">Гоша Куценко</h4>
                                    <ul class="comments_social social">
                                        <li class="social_item"><a href="" class="social_link social_link--ins"></a></li>
                                    </ul>
                                </div>
                                <div class="comments_content">
                                    <p>
                                        Ну я как бы вообще отзыв пишу потому что мне за это щедро заплатили, так то я мясо люблю.
                                    </p>
                                    <p>
                                        Вот только никак не пойму, почему отзывы про груши? Страница ведь про сочные апельсины!
                                    </p>
                                </div>
                                <div class="comments_info">
                                    <span class="comments_date">21.10.2016</span>
                                    <div class="comments_rate rate">
                                        <div class="star star--full"></div>
                                        <div class="star star--full"></div>
                                        <div class="star star--full"></div>
                                        <div class="star star--full"></div>
                                        <div class="star"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="comments_brick">
                                <div class="comments_heading">
                                    <h4 class="comments_name">Жора Летний</h4>
                                    <ul class="comments_social social">
                                        <li class="social_item"><a href="" class="social_link social_link--fb"></a></li>
                                        <li class="social_item"><a href="" class="social_link social_link--vk"></a></li>
                                    </ul>
                                </div>
                                <div class="comments_content">
                                    <p>
                                        Это определенно очень вкусная груша, но по факту груши это так себе фрукты, попробуйте лучше яблоки!
                                    </p>
                                </div>
                                <div class="comments_info">
                                    <span class="comments_date">21.10.2016</span>
                                    <div class="comments_rate rate">
                                        <div class="star star--full"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer class="footer">
      <div class="wrap_inner">
          <div class="footer_info">
              <div class="footer_adress adress">
                  <ul class="adress_list">
                      <li class="adress_item">
                          <a href="tel:84955405186" class="adress_phone">
                              8 495 540 <i class="icon-dot"></i> 51 <i class="icon-dot"></i> 86
                          </a>
                          <span class="adress_time">Ежедневно с 9 до 21</span>
                      </li>
                      <li class="adress_item">
                          <a href="mailto:info@vitaminis.ru" class="adress_ link adress_email">info@vitaminis.ru</a>
                          <span class="adress_time">Круглосуточно</span>
                      </li>
                      <li class="adress_item">
                          <a href="" class="callback-link">обратная связь</a>
                      </li>
                  </ul>
              </div>
              <div class="footer_menu">
                  <ul class="footer_menu-list">
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">Магазины</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">Карта сезонности</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="order.html" class="footer_menu-link">Заказ</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">Оплата</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="delivery.html" class="footer_menu-link">Доставка</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="cashback.html" class="footer_menu-link">Возврат</a>
                      </li>
                  </ul>
                  <ul class="footer_menu-list">
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">о нас</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">блог</a>
                      </li>
                      <li class="footer_menu-item">
                          <a href="" class="footer_menu-link">контакты</a>
                      </li>
                      <li class="footer_menu-item">
                          <ul class="footer_social social">
                              <li class="social_item"><a href="" class="social_link social_link--fb-gray"></a></li>
                              <li class="social_item"><a href="" class="social_link social_link--ins-gray"></a></li>
                              <li class="social_item"><a href="" class="social_link social_link--vk-gray"></a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="footer_widget">
                  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvitamins.ru%2F&tabs=timeline&width=233&height=170&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="233" height="170" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div>
          </div>
          <div class="footer_wrap">
              <div class="footer_copiright">
                  <span>© Общество с ограниченной ответственностью «ВИТАМИНЫ»</span>
                  <span>ИНН 7704303653 юр. адрес 121099, г. Москва, Прямой пер. 3 стр.1</span>
              </div>
              <div class="footer_studio">
                  <a href="http://bakin.ru/" target="_blank">
                      <span>Сайт вырастили</span><br>
                      <span>в студии Бакина</span>
                  </a>
              </div>
          </div>
      </div>
    </footer>

    <div class="hidden">
      <div id="modal-more2" class="modal modal_history mfp-hide mfp-fade">
          <button class="modal_close"></button>
          <h3 class="modal_title section-title">Заказ #471516</h3>
          <div class="modal_content">
              <div class="modal_table">
                  <div class="modal_detailes">
                      <div class="modal_row modal_row--title">
                          <div class="modal_desc">
                          </div>
                          <div class="modal_title-wash">
                              <span>помыть</span>
                          </div>
                          <div class="modal_title-total">
                              <span>количество</span>
                          </div>
                          <div class="modal_title-price">
                              <span>цена</span>
                          </div>
                      </div>
                      <div class="modal_row">
                          <div class="modal_desc">
                              <figure class="modal_picture">
                                  <img src="img/picture/small-ftuit.jpg" alt="">
                              </figure>
                              <div class="modal_product-title">
                                  <h4>Нежные персики</h4>
                                  <span class="modal_tth">128&#8381; / 1 кг</span>
                              </div>
                          </div>
                          <div class="modal_icon">
                              <span class="modal_wash modal_wash--active"></span>
                          </div>
                          <div class="modal_weight">
                              <span>3 кг</span>
                          </div>
                          <div class="modal_price">
                              <span>352 <i class="icon-rub--gray"></i></span>
                          </div>
                      </div>
                      <div class="modal_row">
                          <div class="modal_desc">
                              <figure class="modal_picture">
                                  <img src="img/picture/small-ftuit.jpg" alt="">
                              </figure>
                              <div class="modal_product-title">
                                  <h4>Нежные персики</h4>
                                  <span class="modal_tth">128&#8381; / 1 кг</span>
                              </div>
                          </div>
                          <div class="modal_icon">
                              <span class="modal_wash"></span>
                          </div>
                          <div class="modal_weight">
                              <span>300 кг</span>
                          </div>
                          <div class="modal_price">
                              <span>133352 <i class="icon-rub--gray"></i></span>
                          </div>
                      </div>
                  </div>
                  <div class="modal_total">
                      <div class="modal_kassa">
                          <div class="modal_kassa--inner"></div>
                      </div>
                      <div class="modal_check">
                          <div class="modal_check-total">
                              <ul>
                                  <li>
                                      <span class="modal_check-order">
                                          <span class="modal_check-title">Сумма заказа</span>
                                          <span class="modal_check-price">1 325 <i class="icon-rub--brown"></i></span>
                                      </span>
                                  </li>
                                  <li>
                                      <span class="modal_check-order">
                                          <span class="modal_check-title">Доставка</span>
                                          <span class="modal_check-price">300 <i class="icon-rub--brown"></i></span>
                                      </span>
                                  </li>
                                  <li>
                                      <span class="modal_check-order--total">
                                          <span class="modal_check-order-title">Итого</span>
                                          <span class="modal_check-order-price">110 625 <i class="icon-rub--gray"></i></span>
                                      </span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="total_mobile">
                  <div class="modal_check-total">
                      <ul>
                          <li>
                              <span class="modal_check-order">
                                  <span class="modal_check-title">Сумма заказа</span>
                                  <span class="modal_check-price">1 325 <i class="icon-rub--brown"></i></span>
                              </span>
                          </li>
                          <li>
                              <span class="modal_check-order">
                                  <span class="modal_check-title">Доставка</span>
                                  <span class="modal_check-price">300 <i class="icon-rub--brown"></i></span>
                              </span>
                          </li>
                          <li>
                              <span class="modal_check-order--total">
                                  <span class="modal_check-order-title">Итого</span>
                                  <span class="modal_check-order-price">110 625 <i class="icon-rub--gray"></i></span>
                              </span>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="modal_anymore">
                  <button class="btn">закрыть</button>
              </div>
          </div>
      </div>
      <div id="modal-reg--order" class="modal mfp-hide mfp-fade">
          <button class="modal_close"></button>
          <h3 class="modal_title section-title">Ваш заказ оформлен!</h3>
          <div class="modal_content">
              <div class="rule_text text-page">
                  Ваш заказ оформлен и за него вам начислено <strong>50 баллов</strong>.Кажется, вы забыли авторизоваться, и чтобы не потерять баллы введите ваш e-mail и пароль.
              </div>
              <form class="form" action="" method="post">
                  <div class="form_group">
                      <label for="email">Ваш E-mail</label>
                      <input id="email" class="field" name="email" type="text" placeholder="jora@leto.ru">
                  </div>
                  <div class="form_group">
                      <label for="password">Пароль</label>
                      <input id="password" class="field" name="password" type="password">
                  </div>
                  <div class="form_button-group">
                      <button type="submit" class="registration_button btn btn--lg">авторизация</button>
                      <a href="#modal-reg" class="form_link link-popup">Зарегистрироваться</a>
                  </div>
              </form>
          </div>
      </div>
      <div id="modal-login" class="modal mfp-hide mfp-fade">
          <button class="modal_close"></button>
          <h3 class="modal_title section-title">Авторизация</h3>
          <div class="modal_content">
              <form class="form" action="" method="post">
                  <div class="form_group">
                      <label for="email">Ваш E-mail</label>
                      <div class="field_input">
                        <input id="email" class="field field_invalid" name="email" type="text" placeholder="jora@leto.ru"><span></span>
                        <span class="error_message">*Сообщение об ошибке</span>
                      </div>
                  </div>
                  <div class="form_group">
                      <label for="password">Пароль</label>
                      <div class="field_input">
                        <input id="password" class="field field_invalid" name="password" type="password" required>
                        <span></span>
                        <span class="error_message">*Сообщение об ошибке</span>
                      </div>
                  </div>
                  <div class="form_group">
                      <a href="recovery-pass.html" class="foget_link">Забыли пароль?</a>
                  </div>
                  <div class="form_button-group">
                      <button type="submit" class="registration_button btn btn--lg">авторизация</button>
                      <a href="#modal-reg" class="form_link link-popup">Зарегистрироваться</a>
                  </div>
              </form>
          </div>
      </div>
      <div id="modal-reg" class="modal mfp-hide mfp-fade">
          <button class="modal_close"></button>
          <h3 class="modal_title section-title">Регистрация</h3>
          <div class="modal_content">
              <form class="form form_reg" action="" method="post">
                  <div class="form_group">
                      <div class="field_label">
                          <label for="name">Имя</label>
                      </div>
                      <div class="field_input">
                        <input id="name" class="field field_invalid" name="name" type="text" placeholder="Квентин Тарантино"><span></span>
                        <span class="error_message">*Сообщение об ошибке</span>
                      </div>
                  </div>
                  <div class="form_group">
                      <label for="phone">Телефон</label>
                      <div class="field_input">
                        <input id="phone" class="field" name="phone" type="text" placeholder="+7 (495) 666-77-22">
                      </div>
                  </div>
                  <div class="form_group">
                      <label for="email">E-mail</label>
                      <div class="field_input">
                        <input id="email" class="field field_invalid" name="email" type="text" placeholder="jora@leto.ru"><span></span>
                        <span class="error_message">*Сообщение об ошибке</span>
                      </div>
                  </div>
                  <div class="form_group">
                      <label for="password">Пароль</label>
                      <div class="field_input">
                        <input id="password" class="field" name="password" type="password">
                      </div>
                  </div>
                  <div class="form_group">
                      <label for="password">Подтверждение</label>
                      <div class="field_input">
                        <input id="password" class="field" name="password" type="password">
                      </div>
                  </div>
                  <div class="form_button-group">
                      <button type="submit" class="registration_button btn btn--facebook">Войти через Facebook</button>
                      <button type="submit" class="registration_button btn btn--reg">регистрация</button>
                  </div>
              </form>
          </div>
      </div>
    </div>

    <div class="overlay overlay-slidedown">
      <div class="overlay__enter"></div>
      <div class="nav-box">
        <nav class="mobile-navigation">
          <ul class="mobile-navigation__list">
            <li>
              <span class="mobile-navigation__title">
                Прилавок
              </span>
            </li>
            <li>
              <a href="#" >Фрукты</a>
            </li>
            <li>
              <a href="#" >Овощи</a>
            </li>
            <li>
              <a href="#">Сухофрукты</a>
            </li>
            <li>
              <a href="#">Специи</a>
            </li>
            <li>
              <a href="#">Сеты</a>
            </li>
          </ul>
          <ul class="mobile-navigation__list">
            <li>
              <span class="mobile-navigation__title">
                О сервисе
              </span>
            </li>
            <li>
              <a href="delivery.html" >Доставка</a>
            </li>
            <li>
              <a href="#" >Оплата</a>
            </li>
            <li>
              <a href="order.html">Заказ</a>
            </li>
            <li>
              <a href="cashback.html">Возврат</a>
            </li>
            <li>
              <a href="#">Карта сезонности</a>
            </li>
            <li>
              <a href="#">Магазины</a>
            </li>
          </ul>
          <ul class="mobile-navigation__list">
            <li>
              <span class="mobile-navigation__title">
                Кабинет
              </span>
            </li>
            <li>
              <a href="profile.html" >Профиль</a>
            </li>
            <li>
              <a href="#" >Пригласить друга</a>
            </li>
            <li>
              <a href="#">Ваши баллы</a>
            </li>
            <li>
              <a href="#">Ваши отзывы</a>
            </li>
            <li>
              <a href="history.html">История заказов</a>
            </li>
            <li>
              <a href="address.html">Адреса</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- Load Scripts Start -->
  <script>var scr = {"scripts":[
          {"src" : "js/libs.js", "async" : false},
          {"src" : "js/common.js", "async" : false}
          ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
  </script>
  <!-- Load Scripts End -->

</body>
</html>
